*.o
*~
Makefile
/config.log
/config.status
/include/autoconf.h
/util/makedefs
/src/slashem
/src/monstr.c
/src/vis_tab.c
/src/config.h-t
/src/hack.h-t
/src/Sysunix
/include/vis_tab.h
/include/pm.h
/include/onames.h
/include/filename.h
/include/date.h
/dat/options
/sys/autoconf/depend.awk
